<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link href="/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"></link>
<link href="css/font-awesome.css" rel="stylesheet">
<title>Image Register</title>
</head>
<body>
<form action="/" th:action="@{/}" method="post" enctype="multipart/form-data">
<div class="form-group">
<input type="hidden" name="userId" value="1" />
<input type="file" name="uploadFiles" multiple="multiple" class="form-control-file" />
<span>#</span><input class="form-control" type="text" placeholder="タグ名を入力してください" name="tagName">
<button type="submit">アップロード</button>
</div>
</form>
</body>
</html>